<!--aca esdonde se da la estructura en HTML-->

 <div class="CuerpoDiv" >  
  <div class="Items">
    <div class="Sector">
      <!-- Sector 1Pantalla inicial -->
      <div class="Titulo ">Titulo No 1</div>
      <div class="CuerpoText ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias sunt reiciendis iusto tempore delectus sit consectetur sed magni obcaecati aperiam aspernatur, vel maxime dolorem eaque maiores possimus. Doloremque, iste! Similique?</div>
    </div>

    <div class="Sector" >
      <!-- Sector 2 Pantalla inicial -->
      <div class="imagen"> 
        <div class="image-item1"></div>  
      </div>
    </div>
    
  </div>
  <div class="Items">
    <div class="Sector">
      <!-- Sector 3 Pantalla inicial -->
      <div class="imagen"> 
          <div class="image-item2"></div>  
        </div>
    </div>
    <div class="Sector">
      <!-- Sector 4 Pantalla inicial -->
      <div class="Titulo ">Titulo 2</div>
      <div class="CuerpoText ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur dicta laborum suscipit sunt reprehenderit eos quo temporibus culpa! Sit delectus alias sunt doloremque doloribus in omnis ipsa aut accusamus accusantium.</div>
    </div>
  </div>
</div>