<!--aca esdonde se da la estructura en HTML de home-->

 <div class="CuerpoDiv" >  
  <div class="Items">
    <div class="Sector">
      <!-- Sector 1Pantalla inicial -->
      <div class="Titulo ">Sobre Nosotros</div>
      <div class="CuerpoText ">Le Gestor de proyectos, es pensado como plataforma donde se podrá hacer una organización de las actividades de algún proyecto empresarial que se desea administrar de manera virtual y sencilla </div>
    </div>

    <div class="Sector" >
      <!-- Sector 2 Pantalla inicial -->
      <div class="imagen"> 
        <div class="image-item1"></div>  
      </div>
    </div>
    
  </div>
  <div class="Items">
    <div class="Sector">
      <!-- Sector 3 Pantalla inicial -->
      <div class="imagen"> 
          <div class="image-item2"></div>  
        </div>
    </div>
    <div class="Sector">
      <!-- Sector 4 Pantalla inicial -->
      <div class="Titulo ">Proyectos que se atienden  </div>
      <div class="CuerpoText "> En el Gestor de Proyectos, se podrá anexar cualquier tipo de proyecto empresarial que se desee. El gestor de proyectos, como idea principal es tener la capacidad de anexar un cualquier clase de proyecto que una empresa pueda tener al brindar un servicio.</div>
    </div>
  </div>
</div>