#cuerpo{
    width: 100vw;
    height: calc(100vh - 50px - 70px);
    position: relative;
    display: flex;
    justify-content: center;
    #cuerpo-login{
        width: 90vw;
        height: 100%;
        position: relative;
        display: flex;
        .register{
            width: 60%;
            height: 100%;
            .textos{
                margin: 10px 0;
                .titulo{
                    padding: 18px 10px 0 0;
                    width: 100%;
                    height: auto;
                    font-size: 22px;
                }
                .l{
                    margin: 4px 0 8px 0;
                    height: 1px;
                    width: 20%;
                    background-color: black;
                }
                .text-cuerpo{
                    padding: 0 10px 10px 0;
                    width: 100%;
                    height: auto;
                }
            }
            .item{
                position: relative;
                display: flex;
                width: 100%;
                height: auto;
                margin: 15px 0;
                .comp{
                    position: relative;
                    width: 50%;
                    height: auto;
                    .s-item{
                        position: relative;
                        display: flex;
                        .datos{
                            padding: 10px 0;
                            margin: 0 2.5%;
                            width: 45%;
                            height: auto;
                        }
                        .term{
                            padding: 10px 0;
                            margin: 0 0 0 10%;
                        }
                    }
                }
            }
        }
        .login{
            width: 40%;
            height: 100%;
            background-color: whitesmoke;
            .ingreso{
                position: relative;
                    width: 50%;
                    height: auto;
            }
            .contrasenna{
                padding: 10px 0;
                margin: 0 0 0 10%;
            }
        }
    }
}