<div id="cuerpo">
<div id="cuerpo-login">
  <div class="register">
    <div class="item">
      <div class="titulo">titulo</div>
      <div class="l"></div>
      <div class="text-cuerpo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa ducimus temporibus ratione pariatur cupiditate autem aliquam modi voluptates fuga quos dolores quam, voluptatibus quis consequuntur similique, enim nemo aperiam sunt.</div>
    </div>
    <div class="item">user</div>
    <div class="item">
      <div>pass</div>
      <input type="password">
      <div>pass*</div>
    </div>
    <div class="item">
      <div>nombre</div>
      <div>correo</div>
    </div>
    <div class="item">
      <div>tipo e</div>
      <div>interes</div>
    </div>
  </div>
  <div class="login"></div>
</div>
</div>