<div id="cuerpo">
<div id="cuerpo-login">
  <div class="register">
    <div class="textos">
      <div class="titulo">Se Parte de Nosotros </div>
      <div class="l"></div>
      <div class="text-cuerpo">Para que puedas empezar a administrar tus proyectos junto con tus clientes y posibles inversionistas, debes primero llenar los datos para tu cuenta .</div>
    </div>
    <div class="item">
        <div class="comp">
          <!---------------------->
          <div class="s-item">
            <div class="datos">
              <div>nombre</div>
              <input type="text">
            </div>
            <div class="datos">
                <div>apellido</div>
                <input type="text">
            </div>
          </div>
          <!---------------------->
          <div class="s-item">
              <div class="datos">
                <div>User</div>
                <input type="text">
              </div>
            </div>
            <!---------------------->
            <div class="s-item">
                <div class="datos">
                  <div>pasword</div>
                  <input type="password">
                </div>
                <div class="datos">
                    <div>re password</div>
                    <input type="password">
                </div>
              </div>
              <!---------------------->
              <div class="s-item">
                  <div class="datos">
                    <div>tipo empresa</div>
                    <input type="text">
                  </div>
                  <div class="datos">
                      <div>interes</div>
                      <input type="text">
                  </div>
                </div>
                <!---------------------->
          <div class="s-item">
              <div class="datos">
                <div>Correo</div>
                <input type="text">
              </div>
            </div>
        </div>
        <div class="comp">
          <!---------------------->
          <div class="s-item">
              <div class="term">
                <!---Terminos  y condiciones (link)--->
                <div>Terminos y condiciones para el uso del Servico </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <div class="login">
    <!----Segunda parte LOGIN--------->
    <div class ="sectorlog">
        <a >Ingrese con el usuario asignado</a>
        
    </div>
    <div class="imagen"> <a >*</a>     </div>

    
    <div class="item">
        <div class="Texto">
          <div class="dato" >Nombre o correo</div>
          <div class="dato">Contraseña</div>
          <form (submit) ="loginUser($event)">
              <input type="text" placeholder="Username" id="username">            
              <input type="password" placeholder="Password" id="password">
              <input type="submit" value="Ingrese">   
          </form>
              
          
        </div>
      </div>
    <div class="item2">
        <div class="Texto2">
          <!--  
          <div class="dato">Contraseña</div>
          
              <input type="password">

        </div>-->
        
    </div>
  


        <div class="textoBoton">         
          <!--
            <form (submit) ="LoginUser($event)">
          <input type="submit" value="Ingrese">
          <!- - <button id="button">Ingresar</button> - ->
        </form>          -->
          
      </div>
    <div class="Boton">
      
        <div class="recuperar">
            <i > * Olvide mi contraseña</i>
            
        </div>
        <div class="cuentaDuda">
            <i > * ¿Preguntas sobre tu cuenta?</i>
        </div>
      </div>
   


  </div>
</div>
</div>